<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Loan Prediction Home</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="background">
      <header>
        <h1>Loan Prediction</h1>
        <center><nav>
          <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="Predict.html">Predict</a></li>
          </ul>
        </nav>
      </center>
      </header>
    <br><br><br><br>
    <center><p>Welcome to our loan prediction website!</p>
     <br><br><br><br><br><a href="predict.html">Click Here For Redirect To Prediction Page</a>
   </center>
    <footer>
      <p>@Velan 2023</p>
      </footer>  
  </div>
  </body>
</html>